/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  padding: 0 50px;

}

.holiday {
  color: red;
}

#current-month,
#prev,
#next
 {
  display: inline-block;
  padding: 30px 20px;
}

#prev,
#next
 {
  cursor: pointer;
}
